/* https://coolors.co/efefef-3454d1-34d1bf-070707-d1345b <-- Color Pallete */

html{
    background-color: #3454D1;
}

li{
    text-align: center;
}

a{
    text-align: center;
    color: #EFEFEF;
}
/* Login / Signup */
#auth-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#id_username{
    margin-bottom: 0.5rem;
}

#id_password{
    margin-bottom: 0.5rem;
}

#id_confirmation{
    margin-bottom: 0.5rem;
}

#id_email{
    margin-bottom: 0.5rem;
}

#no-account{
    margin-top: 0.5rem;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

.submit{
    cursor: pointer;
}

.link-to{
    color: #070707;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
}

.auth{
    width: 350px;
    height: 350px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}

.auth-link{
    width: 100%;
    color: #070707;
    font-size: 1.9rem;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
}

.input{
    height: 30px;
}

/* Page styles */
#homepage{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.nav{
    display: flex;
    justify-content: space-around;
    margin: 0.5rem;
    height: 2rem;
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    color: #EFEFEF;
}

.footer{
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 2rem;
        font-size: 1rem;
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        color: #EFEFEF;
    
}

.welcome{

}

.homepage-message{
    text-align: center;
    font-size: 2.3rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    margin-bottom: 2rem;
    color: #EFEFEF;
}

#project-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project{
    width: 300px;
    margin: 1rem;
    transition: all .2s ease-in-out; 
}

.project:hover{
    transform: scale(1.1);
}

.title{
    text-align: center;
    font-size: 1.3rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #34D1BF;
}

.cover{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border: 1px solid #070707;
}

.project-media{
    width: 300px;
    height: auto;
}

/* INDIVIDUAL PROJECT STYLES */
#project-info{
    display: grid;
}

.project-link{
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #EFEFEF;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.project-link:hover{
    color: #34D1BF;
}

#project-page{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.info-container{

}

.carousel{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
}

.carousel-img{
    position: absolute;
    display: none;
    left: 0px;
    top: 0px;
    width: 100%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.carousel-title{
    position: absolute;
    z-index: 100;
    color: black;
    display: none;
    left: 0px;
    bottom:0px;
    opacity: 0.8;
    width: 100%;
    height: 3rem;
    background-color: #EFEFEF;
    transition: all 0.5s ease-in-out;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    align-content: space-around;
}

.active{
    display: block;
    opacity: 1;
}

.prev{
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: 100;
}

.next{
    position: absolute;
    z-index: 100;
    top: 50%;
    right: 0px;
}

#resource-container{
    display: grid;
}

#chat-container{
    display: grid;
    justify-items: center;
}

#message-box{
    width: 500px;
    height: 270px;
    background-color: #EFEFEF;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    /* Scrollbar */
    overflow-y: scroll;
}

.messages{
    color: #070707;
    margin-left: 1rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    height: 1.8rem;
}

.messages:first-child{
    margin-top: 1rem;
}

.inputs{
    align-self: end;
    display: flex;
    width: 100%;
    height: 30px;
}

.message-input{
    display: flex;
    width: 80%;
    border: 1px solid white;
}
.message-submit{
    width: 20%;
    border: 1px solid white;
}