{% extends "final/layout.html" %}
{% load static %}


{% block body %}
<div id="homepage" >
    <!-- Display all the projects -->
    <h1 class="homepage-message">What are you working on today?</h1>
    <div id="project-container">
        {% for project in projects %}
            <div class="project">{{project.title}}
                <a href="{% url 'project' id=project.id %}">link</a>
                <p>{{project.id}}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}