{% extends "final/layout.html" %}
{% load static %}


{% block body %}
<div id="auth-container">
    <div class="auth">
        <ul>
            <li>
                <h1 class="auth-link">Login</h1>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        {{loginForm}}
                    <input class="submit" type="submit" value="Login">
                </form>
            </li>
            <li id="no-account">
                    {% if message %}
                            <p>{{message}}</p>
                    {% endif %}
                    <p>Dont have an account? 
                        <a class="link-to" href="{% url 'signup'%}">Sign Up</a>
                    </p>
                </li>
        </ul>
    </div>
</div>
{% endblock %}
