{% extends "final/layout.html" %}
{% load static %}


{% block body %}
<div id="homepage" >
    <div class="nav">
        <h1 class="welcome">{{project.title}}</h1>
        <a class="nav-link" href="{% url 'homepage' %}">Go Back</a>
    </div>   
        <div class="carousel">
            {% for resource in resources %}
                <img class="carousel-img" src="{{resource.url}}" alt="">
            {% endfor %}
            <button class="prev">Prev</button>
            <button class="next">Next</button>
        </div>
    {% for resource in resources %}
        <div>
            <a href="{{resource.resource}}">{{resource.resourceTitle}}</a>
        </div>
    {% endfor %}
    
    <div id="chat-container">
        <div id="message-box">
            {% for message in messages %}
                {{message.content}}   
            {% endfor %}
        </div>
       
        {% if user.is_authenticated%}
            <form class=""  method="POST">
                {% csrf_token %}
                <input class="input-space" type="text" name="comment" placeholder="Add a comment">
                <input class="submit input-space" type="submit">
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block script %}
    <script type="text/javascript" src="{% static 'final/project.js' %}"></script>
{% endblock %}
